@media print {
  .sidebar,
  .article-page [data-cy="article-slideshow"],
  .article-page [data-cy="article-video"],
  .article-page [data-cy="article-video"] + br,
  .article-page [data-cy="20questions-view-trigger"],
  .article-page [data-cy="poll-view-trigger"],
  .article-page [data-cy="faceoff-view-trigger"],
  .article-page [data-cy="playlist-view-trigger"],
  [data-cy="object-summary-embed-title"],
  [data-cy="object-review-title"],
  .article-page #pit-below-content-2,
  #pit-below-all-content,
  [data-cy="objectcard-view-trigger"],
  .article-author:not(.underlined),
  .three-column,
  footer[data-cy="footer"],
  .image-container {
      display: none !important;
  }
  #page {
      margin-left: 0 !important;
  }
  .article-page output.box-wrapper figure span {
      display: block;
  }

  .article-page output.box-wrapper figure span img {
      width: 100%;
      max-width: 100%;
      height: auto;
      margin-bottom: 10px;
  }
}